.btn {
  color: #fff;
  border: 2px solid #fff;
  max-width: 210px;
  min-height: 60px;
  line-height: 60px;
  display: block;
  text-decoration: none;
  margin: 0 auto;
  font-size: 16px;
  font-family: $font-avenir-black;
  text-transform: uppercase;
}
